.vscode
__pycache__/
modelnet40_normal_resampled/
outputs/
cortical_log/*
log/
logs/
log_*/
*.out
*.job
.out
parse_logs.ipynb
dumb_tests.py
modelnet/
only_test.py
wandb/*
cortical_data/*
pointcloud_data_*/*
pointcloud_data/*
test.ipynb
cortical_localtest.py
modelnet_log/*
best_model/*
cortical_pointtransformer/*